.animationAdd {
  animation-name: popUp;
  animation-duration: 600ms;
}

.animationRemove {
  animation-name: popUpRemove;
  animation-duration: 600ms;
}

@keyframes popUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popUpRemove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* animation for side note open 
and close and indicate the notification */

@keyframes timeLine {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/* Animation for showing the SideAlert */
@keyframes addSide {
  from {
    opacity: 0;
  }
  to {
    opacity: 80%;
  }
}

/* Apply animation for showing the SideAlert */
.visible {
  animation-name: addSide;
  animation-duration: 800ms;
}
