.animationAdd {
  animation-name: popUp;
  animation-duration: 600ms;
}

.animationRemove {
  animation-name: popUpRemove;
  animation-duration: 600ms;
}

.sideNote {
  animation-name: addsideNote;
  animation-duration: 1.5s;
}

@keyframes addsideNote {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes popUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popUpRemove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
