.animationAdd {
  animation-name: popUp;
  animation-duration: 600ms;
}

.animationRemove {
  animation-name: popUpRemove;
  animation-duration: 600ms;
}

@keyframes popUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes popUpRemove {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
